body{
    height:100vh;
    width:100vw;
    background-color: rgba(2, 0, 9, 0.337);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 300px;
    background-color: darkslategrey;
    margin: auto;
    box-shadow: 2px 2px 20px white;
    border-radius: 5px;
}
#img{
    height: 25vh;
    border-radius: 5px;
}
#nome{
    color: rgba(255, 255, 255, 0.875);
}
button{
    padding: 5px 10px;
    width:20vw;
    border-radius: 10px;
    color: whitesmoke;
    background-color: darkslateblue;
    font-size: medium;
    margin: auto;
}